<div class="container">
    <div class="row" *ngIf="results; else noGames">
        <div class="col-lg-12">
            <h4 class="section-header">Wybierz gre:</h4>
        </div>
    </div>

    <div class="aaa">
        <div class="row" *ngIf="results">
            <div class="col-lg-12">
                <select class="form-control form-control-lg" name="selected" [(ngModel)]="selected"
                    [ngClass]="numbersOfInput > -1 ? 'yellow-border' : ''">
                    <option *ngFor="let r of results" value="{{r.id}}">{{r.name}}</option>
                </select>
                <button class="btn btn-primary" type="submit" (click)="onSelectedGame()">Wybierz</button>
            </div>
        </div>
    </div>
    
    <ng-template #noGames>
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-header-red">Brak gier</h2>
            </div>
        </div>
    </ng-template>

    <div class="row">
        <div class="col-lg-12" *ngIf="numbersOfInput != -1">
            <h4 class="section-header">Wprowadź swoje numery:</h4>
        </div>
    </div>

    <div class="aaa">
        <div class="row" *ngIf="numbersOfInput != -1">
            <div class="col-sm-12">
                <form [formGroup]="messageForm" (ngSubmit)="onCheckGame()">

                    <div formArrayName="userNumbers">
                        <div *ngFor="let n of userNumbers.controls; let i = index">
                            <input type="number" placeholder="liczba {{i + 1}}" class="form-control"
                                formControlName="{{i}}">
                        </div>
                    </div>

                    <div formArrayName="extraNumbers" *ngIf="numbersOfExtraInput > -1">
                        <h4 class="section-header">Extra cyfry:</h4>
                        <div *ngFor="let n of extraNumbers.controls; let i = index">
                            <input type="number" placeholder="extra {{i + 1}}" class="form-control"
                                
                                formControlName="{{i}}">
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit" (click)="onCheckGame">Sprawdź</button>
                </form>
            </div>
        </div>
    </div>


        <div class="row">
        <div class="col-lg-12" *ngIf="checked && counts.Matches == null && counts.Extra == null; else noCounts">
            <h2 class="section-header-red">Brak trafień</h2>
        </div>

        <ng-template #noCounts>
            <div class="col-lg-12" *ngIf="counts && checked">
                <h2 class="section-header">Trafienia z {{counts.Date}}: </h2>
                <p class="resultParagraph">{{counts.Matches}}</p>
                <p class="resultParagraph" *ngIf="counts.Extra != null">Extra: {{counts.Extra}}</p>
            </div>
        </ng-template>
    </div>


</div>