<div class="container">

    <div class="row" *ngIf="results; else noGames">
        <div class="col-lg-12">
            <h2 class="section-header">Wybierz gre:</h2>
        </div>
    </div>
    <br>

   <div class="aaa">
       <div class="row" *ngIf="results">
        <div class="col-lg-12">
            <select class="form-control form-control-lg" name="selected" [(ngModel)]="selected">
                <option *ngFor="let r of results" value="{{r.id}}">{{r.name}}</option>
            </select>
            <br>
            <button class="btn btn-primary" type="submit" (click)="onSelectedGame()">Wybierz</button>
        </div>
    </div>

   </div>
    
    <br>

    <div class="row">
        <ng-template #noGames>
            <div class="col-lg-12">
                <h2 class="section-header">Brak gier</h2>
            </div>
        </ng-template>

    </div>


        <div class="row">
        <div class="col-lg-12" *ngIf="numbersOfInput != -1">
            <h2 class="section-header">Wprowadź swoje numery:</h2>
        </div>
        </div>
    
    <div class="aaa">
        <div class="row" *ngIf="numbersOfInput != -1">
                <div class="col-sm-12">
                        <form [formGroup]="messageForm" (ngSubmit)="onCheckGame()">
                        <div formArrayName="userNumbers">
                            <div *ngFor="let n of userNumbers.controls; let i = index">
                                <input type="number" placeholder="liczba {{i + 1}}" class="form-control" formControlName="{{i}}">
                            </div>
                        </div>
                        <br>
                        <button class="btn btn-primary" type="submit" (click)="onCheckGame">Sprawdź</button>
                        </form>
                </div>
            </div>
    </div>
    


    <div class=aaa>
        <div class="row">
        <div class="col-lg-12" *ngIf="counts && checked">
            <h3 class="section-header">Trafienia: </h3>
        </div>
        </div>
    </div>
    


    <!-- <div class="aaa" *ngIf="checked && !counts">
       <div class="row">
            <div class="col-lg-12">
                <h2 class="section-header">Brak trafień</h2>
            </div>
        </div> 
    </div> -->
    

</div>